@using Models
@using Business
@inject ICategoryService _categoryService
@inject NavigationManager NavManager

<EditForm Model="@category">
    <div class="form-row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label>Nombre:</label>
            <InputText @bind-Value="category.Name" class="form-control" />
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label>Descripción:</label>
            <InputTextArea @bind-Value="category.Description" class="form-control"></InputTextArea>
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <label>Estado:</label>
            <InputCheckbox @bind-Value="category.State" />
        </div>
        <button class="btn btn-primary" @onclick="Update">Update</button>
        <a class="btn btn-primary ml-3" href="category">Back</a>
    </div>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }

    Category category = new Category();

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            category = await _categoryService.Get(Id);
        }
    }

    public async void Update()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            category.ModifiedUserName = "Anderson Díaz";
            category.ModifiedUserEmail = "adiaz@gmail.com";
            Category result = await _categoryService.Update(Id, category);
            if (result != null)
            {
                NavManager.NavigateTo("category");
            }
        }
    }
}
